<h2>Hi !</h2>
<h3>Welcome to my study...!</h3>

<p class="lead">You have just arrived at the landing page of my MSc dissertaion study. You should probably bookmark it.</p>
<p class="lead">Who am I ?</p>

<pre>
    Name: Tanay Manohar Kapoor
    Institution: Universityc College London
    Course: MSc Human Computer Interaction with Ergonomics
    Email: tanay.kapoor.14@ucl.ac.uk
</pre>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut dui sit amet felis fringilla fermentum. Quisque malesuada viverra eros. Suspendisse ante erat, finibus sit amet scelerisque ac, varius vel diam. Aliquam aliquet tortor nulla, quis dictum mi malesuada sit amet. Cras pulvinar blandit ipsum, a vulputate leo interdum eget. Mauris ornare lacus et lacus volutpat aliquet. Fusce vehicula sodales est sit amet lacinia. Pellentesque elit ipsum, iaculis vel ex sed, tincidunt vulputate nisl. Fusce non nunc eget nibh dapibus sollicitudin fringilla elementum neque. Nulla varius dapibus sem vel laoreet. Suspendisse pulvinar ornare libero, mattis porta ligula consequat vel.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut dui sit amet felis fringilla fermentum. Quisque malesuada viverra eros. Suspendisse ante erat, finibus sit amet scelerisque ac, varius vel diam. Aliquam aliquet tortor nulla, quis dictum mi malesuada sit amet. Cras pulvinar blandit ipsum, a vulputate leo interdum eget. Mauris ornare lacus et lacus volutpat aliquet. Fusce vehicula sodales est sit amet lacinia. Pellentesque elit ipsum, iaculis vel ex sed, tincidunt vulputate nisl. Fusce non nunc eget nibh dapibus sollicitudin fringilla elementum neque. Nulla varius dapibus sem vel laoreet. Suspendisse pulvinar ornare libero, mattis porta ligula consequat vel.</p>



<div class="col-md-12">
    <div class="col-md-offset-2 col-md-4">
        <button class="button button-primary" onclick="window.location='/session/new'; ">Login</button>
    </div>
    <div class="col-md-4">
        <button class="button button-primary" onclick="window.location='/user/new'; ">Sign up</button>
    </div>
</div>