<h2>Hi !</h2>
<h3>Welcome to my study...!</h3>

<p class="lead">You have just arrived at the landing page of my MSc dissertaion study. You should probably bookmark it.</p>

<div class="col-md-12">
    <div class="col-md-offset-2 col-md-4">
        <button class="button button-primary" onclick="window.location='/session/new'; ">Login</button>
    </div>
    <div class="col-md-4">
        <button class="button button-primary" onclick="window.location='/user/new'; ">Sign up</button>
    </div>
</div>

<p class="lead">Who am I ?</p>

<pre>
    Name: Tanay Manohar Kapoor
    Institution: Universityc College London
    Course: MSc Human Computer Interaction with Ergonomics
    Email: tanay.kapoor.14@ucl.ac.uk
</pre>

<p class="lead">About the experiment</p>

<p>The purpose of this study is to investigate how introduction of a stranger into an individual’s social network effects his overall perception of the network. We will be asking you to live with and use this web based chat app for the duration of the study (10 days) as part of your daily routine. Details of how you interact with the app will be logged and recorded in a secure database. All data stored will be anonymized. We will also ask you to fill out two surveys, one at the beginning of the study and one at the end. Additionally you can opt to be part of a short interview at the end of the study. At points during the study we will contact you to arrange said interview which can either be carried out face-to-face (at a location you prefer) or via an internet video call. The expected duration of participation has been made clear to you by the investigators and you may decide to withdraw from the study at any point. There are no foreseeable risks relating to participating.</p>

<p>It is up to you to decide whether or not to take part. If you choose not to participate, you won't incur any penalties or lose any benefits to which you might have been entitled. However, if you do decide to take part, you will be given this information sheet to keep and asked to sign a consent form. Even after agreeing to take part, you can still withdraw at any time and without giving a reason.</p>

<p>All data will be collected and stored in accordance with the Data Protection Act 1998. i.e. All data will be anonymized and destroyed after analysis and reporting of the study is completed.</p>


