<h2>Hi !</h2>
<h3>Welcome to my experiment...!</h3>

<p class="lead">You have just arrived at the landing page of my MSc dissertaion experiment</p>
<p class="lead">Who am I ?</p>

<pre>
    Name: Tanay Manohar Kapoor
    Institution: Universityc College London
    Course: MSc Human Computer Interaction with Ergonomics
    Email: tanay.kapoor.14@ucl.ac.uk
</pre>



<div class="col-md-12">
    <div class="col-md-offset-2 col-md-4">
        <button class="button button-primary" onclick="window.location('/session/new'); ">Login</button>
    </div>
    <div class="col-md-4">
        <button class="button button-primary" onclick="window.location('/user/new'); ">Sign up</button>
    </div>
</div>