<!DOCTYPE html>
<html>
  <head>
    <title>UCLIC Study</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
  </head>

  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">UCLIC Study</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if(!req.session.authenticated) { %>
        <li class=""><a href="/session/new">Login <span class="sr-only">(current)</span></a></li>
        <li><a href="/user/new">Sign up</a></li>
        <% }else{ %> 
        <li><a href="/app/home">Home</a></li>
        <% } %>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if(req.session.authenticated) { %>
          <li><a href="#">Logged in as <%= req.session.user.sname %></a></li>
        <% }%> 
        <li><a href="/session/destroy">Sign out</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <% if(typeof flash != 'undefined' && flash && flash.msg) { %>
      <div class="container">
          <ul class="alert alert-<%= flash.type %>">
            <% Object.keys(flash.msg).forEach(function(msg) { %>
              <li><%- flash.msg[msg] %></li>
            <% }) %>
          </ul>
      </div>
    <% } %>

    <div class="container">
      <%- body %>
    </div>

    <!-- JQUERY -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js" ></script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!--SCRIPTS END-->


  </body>
</html>
