<% if(true){ %>
	<h2>ATTENTION !</h2>
	<p class="lead">Sign ups are now closed sorry :( </p>
	<h2> -- </h2>
<% } %>



<div class="jumbotron">
	<form action="#" method="POST" id="sign-up-form" onsubmit="return formValidations();">
		<div class="form-group">
			<label for="sname" >Screen name</label>
			<p>Please use a screen name that does not identify your real identity, be creative :D</p>
			<input class="form-control required" type="text" id="sname" name="sname" placeholder="Screen name" />
		</div>

		<div class="form-group">
			<label for="email" >Email</label>
			<p>Use the same email as you did in the recruitment form</p>
			<input class="form-control required" type="email" id="email" name="email" placeholder="Email address" />
		</div>

		<div class="form-group">
			<label for="email-check" >Confirm email</label>
			<input class="form-control required" type="email" id="emailcheck" name="emailcheck" placeholder="Re-enter Email address" />
		</div>

		<div class="form-group">
			<label for="password" >Password</label> 
			<input class="form-control required" type="password" id="password" name="password" placeholder="Password" />
		</div>

		<div class="form-group">
			<label for="confirmation" >Confirm password</label> 
			<input class="form-control required" type="password" id="confirmation" name="confirmation" placeholder="Re-enter Password" />
		</div>

		<p class="lead" >Please make sure you read the <a href="https://www.dropbox.com/s/vro5pwo2ns62i5p/PIS.pdf?dl=0" target="_blank">participant information sheet</a>, by signing up to this study at this point you agree to the terms in the <a href="https://www.dropbox.com/s/3clkah68pmxqbxr/Consent-form.pdf?dl=0" target="_blank" >consent form</a>. Both of these have been previously emailed to you as well.</p>
		
		<div class="form-group">
			<input type="submit" value="Sign up !" class="button button-success" />
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		</div>
		
	</form>
</div>

<script type="text/javascript">

	window.onload = function validations(){

	}

	function chechEmpty(){
		$(".required").each(function(each){
			if($(this).val().length == 0){
				$(this).focus();
				$(this).addClass("error-field");

				alert("You need to fill all the fields !");
				return false;
			}
		});
		return true;
	}

	function checkMatch(){
		if($("#email").val() === $("#emailcheck").val()){
			if($("#password").val() === $("#confirmation").val()){
				return true;
			}
			else{
				alert("Passwords don't match !");
				return false;
			}
		}
		else{
			alert("Emails don't match !");
			return false;
		}
	}


	function formValidations(){
		$(".required").removeClass('error-field');
		if(chechEmpty()){
			if(checkMatch()){
				return true;
			}
			else{
				return false;
			}
		}
		else{
			return false;
		}
	}

</script>
