<div class="jumbotron">
	<form action="/user/create" method="POST">
		<div class="form-group">
			<label for="sname" >Screen name</label>
			<input class="form-control" type="text" name="sname" placeholder="Screen name" />
		</div>

		<div class="form-group">
			<label for="email" >Email</label>
			<input class="form-control" type="email" name="email" placeholder="Email address" />
		</div>

		<div class="form-group">
			<label for="email-check" >Confirm email</label>
			<input class="form-control" type="email" name="email-check" placeholder="Email address" />
		</div>

		<div class="form-group">
			<label for="password" >Password</label>
			<input class="form-control" type="password" name="password" placeholder="Password" />
		</div>

		<div class="form-group">
			<label for="confirmation" >Confirm password</label>
			<input class="form-control" type="password" name="confirmation" placeholder="Password" />
		</div>
		
		<div class="form-group">
			<input type="submit" value="Sign up !" class="button button-success" />
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		</div>
		
	</form>
</div>